*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    background-color: rgb(127, 171, 169);
}

body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: aliceblue;
    font-size: 14px;
}

.header-container{
    display: block;
    width: 100%;
    background-color: rgb(12, 44, 87);
}

.header{
    padding-bottom: 10px;
    padding-top: 1px;
    padding-left: 1px;
    display: flex;
    justify-content: space-between;
}

.header-name{
    padding-left: 1px;
}

.header h1{
    padding-left: 60px;
    font-size: 50px;
    font-weight: bolder;
    background-color:rgba(241, 240, 255, 0.573);
    color: rgb(1, 1, 2);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background: linear-gradient(270deg, rgb(6, 185, 239) 0%, rgb(12, 44, 87) 100%)
}

.header nav{
    display: flex;
    width: 30%;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
}

.header nav a{
    font-size: 20px ;
    font-weight: bolder;
    color:rgb(35, 46, 208);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: none;
    border-bottom: 5px solid;
}

.header nav a:hover{
    background-color: antiquewhite;
}

.background-image{
    height: 200px;
    width: 100%;
    background-image: url("../images/background.jpg" );
    background-size: cover;
    background-position: center;   
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
}

h2{
    margin: 0px;
    background: linear-gradient(90deg, rgb(108, 205, 235) 0%, rgb(12, 44, 87) 100%);
    color: bisque;
    font-size: 50px;
}

main{
    padding-top: 20px;
}

.about-me, .work, .contact-me{
    display: flex;
    justify-content: space-around;
    margin-bottom: 50px;
}

.about-me aside, .work aside, .contact-me aside{
    display: flex;
    padding: 10px;
    width: 15%;
    font-size: 30px;
    flex-direction: column;
    align-items: flex-end;
    border-right: 5px solid
}

.about-me article{
    font-size: 25px;
    width: 80%;
}

.work-link{
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    justify-content: space-between;
}   

.job1{
    height: 300px;
    width: 100%;
    margin-bottom: 10px;
    background-image: url("../images/image-1.jpg" );
    background-size: cover;
    border-radius: 20px;
    border:5px solid;
    border-color: rgb(4, 42, 29);
    background-position: center;   
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    
}

.job1:hover{
    color:#111;
    background-image: url("../images/image-1-dark.jpg" );
    box-shadow:  0 0 80px rgb(18, 51, 218);
}

h4{
    margin-bottom: 20px;
    padding: 5px;
    font-size: 30px;
    background: linear-gradient(90deg, rgb(108, 205, 235) 0%, rgb(12, 44, 87) 100%);
}

.job2{
    height: 200px;
    width: 49%;
    margin-bottom: 20px;
    background-image: url("../images/image-2.jpg" );
    background-size: cover;
    border-radius: 20px;
    border:5px solid;
    border-color: rgb(4, 42, 29);
    background-position: center;   
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

.job2:hover{
    color:#111;
    background-image: url("../images/image-2-dark.jpg" );
    box-shadow:  0 0 80px rgb(162, 120, 236);
}


.job3{
    height: 200px;
    width: 49%;
    background-image: url("../images/image-3.jpg" );
    background-size: cover;
    border-radius: 20px;
    border:5px solid;
    border-color: rgb(4, 42, 29);
    background-position: center;   
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

.job3:hover{
    color:#111;
    background-image: url("../images/image-3-dark.jpg" );
    box-shadow:  0 0 80px rgb(35, 127, 155);
}

.job4{
    height: 200px;
    width: 49%;
    background-image: url("../images/image-4.jpg" );
    background-size: cover;
    border-radius: 20px;
    border:5px solid;
    border-color: rgb(4, 42, 29);
    background-position: center;   
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

.job4:hover{
    color:#111;
    background-image: url("../images/image-4-dark.jpg" );
    box-shadow:  0 0 80px rgb(123, 9, 224);
}

.job5{
    height: 200px;
    width: 49%;
    background-image: url("../images/image-5.jpg" );
    background-size: cover;
    border:5px solid;
    border-color: rgb(4, 42, 29);
    border-radius: 20px;
    background-position: center;   
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

.job5:hover{
    color:#111;
    background-image: url("../images/image-5-dark.jpg" );
    box-shadow:  0 0 80px rgb(204, 18, 46);
}

.contact-detail{
    display: flex;
    font-size: 25px;
    font-weight: bolder;
    color: rgb(80, 52, 237);
    width: 80%;
    list-style-type: none;
    justify-content: space-around;
    align-items: center;
}

.contact-detail li  {
    border-bottom: 3px solid;
}

